requests
numpy
fastapi
uvicorn
python-docx
ebooklib
striprtf
PyMuPDF
pytesseract
Pillow
fuzzywuzzy
python-Levenshtein
onnxruntime
huggingface_hub
transformers
scikit-learn
aiohttp
fastembed
tqdm
pyahocorasick
beautifulsoup4
python-magic
markdown-it-py

tokenizers

onnxruntime-directml
